<div class="landing-header">
    <div class="landing-menu">
        <ul>
            <li>Menu</li>
            <li>About</li>
            <li class="premium">Premium</li>
        </ul>
    </div>
    <div class="landing-logo">
        <a href="/">
            <h2>DealApp</h2>
        </a>
    </div>
    <div class="header-reg">
        <ul>
            <li><a href="{% url 'access:login' %}">Log In</a></li>
            <li>/</li>
            <li><a href="{% url 'access:signup' %}">Sign Up</a></li>
        </ul>
    </div>
</div>